.header{
    background-color: white;
    padding: 20px 0px;
    color: black;
}
.header .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .content .right{
    display: flex;
}
.header .content .right p{
    margin-left: 20px;
}

img.imgLogo{
    width: 120px;
    height: 32px;
}